.container-jurista {
    width: calc( 100% - 72px);
    height: auto;
    min-height: 100vh;
    padding: 0 36px;
    background-color: $grey-100;
    justify-content: flex-start;
    @extend %flex-center-column;
    @media (max-width: 980px) {
        width: calc( 100% - 24px);
        padding: 12px;
    }
    .header {
        width: 100%;
        max-width: 1366px;
        height: auto;
        min-height: 600px;
        position: relative;
        top: 0;
        justify-content: space-around;
        @extend %flex-center-row;
        @media ( max-width: 800px) {
            flex-direction: column;
        }
        .left {
            width: 40%;
            height: auto;
            min-height: 75px;
            align-items: flex-start;
            @extend %flex-center-column;
            .titulo {
                margin-bottom: 36px;
                h1 {
                    color: $grey-900;
                    @extend %tittle-seccion;
                }
                h2 {
                    color: $blue-300;
                    @extend %medium-medium;
                }
            }
            .list {
                width: 100%;
                height: auto;
                min-height: 200px;
                align-items: flex-start;
                @extend %flex-center-column;
                h2 {
                    width: 100%;
                    margin-bottom: 12px;
                    @extend %medium-medium;
                }
                .item {
                    width: 100%;
                    height: auto;
                    margin: 3px 0;
                    justify-content: flex-start;
                    @extend %flex-center-row;
                    .circle {
                        width: 20px;
                        height: 20px;
                        @extend %flex-center;
                        &::before {
                            content: '';
                            width: 10px;
                            height: 10px;
                            border-radius: 25px;
                            background-color: $cafe-500;
                        }
                    }
                    p {
                        margin-left: 6px;
                        @extend %small-regular;
                    }
                }
            }
            .imagen {
                width: 100%;
                height: 280px;
                margin-bottom: 24px;
                background-color: #ffffff;
                display: none;
                @extend %flex-center;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    object-position: center;
                }
                @media ( max-width: 800px) {
                    display: flex;
                }
            }
            .line-item {
                width: 90%;
                height: 2px;
                margin: 12px 0;
                background-color: $grey-300;
                display: none;
                @media ( max-width: 800px) {
                    display: flex;
                }
            }
            @media ( max-width: 800px) {
                width: 100%;
                align-items: center;
                .titulo {
                    h1 {
                        text-align: center;
                    }
                    h2 {
                        text-align: center;
                    }
                }
                .list {
                    width: 100%;
                    height: auto;
                    min-height: 200px;
                    align-items: center;
                    @extend %flex-center-column;
                    h2 {
                        text-align: center;
                    }
                    .item {
                        justify-content: center;
                        .circle {
                            display: none;
                        }
                        p {
                            text-align: center;
                        }
                    }
                }
            }
        }
        .right {
            width: 55%;
            height: 540px;
            background-color: #ffffff;
            @extend %flex-center;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: center;
            }
            @media ( max-width: 800px) {
                display: none;
            }
        }
    }
    .certificados {
        width: 100%;
        max-width: 1366px;
        height: auto;
        min-height: 350px;
        position: relative;
        margin-top: 60px;
        justify-content: space-around;
        background-color: #68a3d0;
        @extend %flex-center-row;
        @media ( max-width: 800px) {
            flex-direction: column;
        }
    }
}