.container-card-comunidad {
    width: calc( 50% - 48px);
    min-height: calc( 125px - 24px);
    padding: 12px;
    background-color: $grey-100;
    margin: 12px;
    border-radius: 15px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
    transition: all .1s ease-in-out;
    position: relative;
    cursor: pointer;
    justify-content: space-between;
    @extend %flex-center-column;
    &:hover {
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
        .texto {
            span {
                text-decoration: underline;
            }
        }
        .icon {
            transform: scale(1.1);
        }
    }
    &:active {
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.45);
    }
    @media( max-width: 800px) {
        width: calc( 100% - 48px);
    }
    .icon {
        width: 26px;
        height: 26px;
        border-radius: 25px;
        position: absolute;
        top: 18px;
        right: 18px;
        background-color: $grey-100;
        border: 1px solid $grey-300;
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
        transition: all .2s ease-in-out;
        @extend %flex-center;
    }
    .titulo {
        width: 100%;
        height: auto;
        align-items: flex-start;
        h2 {
            color: $grey-900;
            @extend %regular-medium;
        }
        @media( max-width: 800px) {
            width: 90%;
            margin-bottom: 24px;
            h2 {
                text-align: center;
            }
        }
    }
    .texto {
        width: 100%;
        height: auto;
        justify-content: space-between;
        @extend %flex-center-row;
        p {
            color: $grey-800;
            @extend %regular-regular;
        }
        span {
            color: $blue-500;
            font-size: 16px;
            @extend %flex-center-row;
            @extend %small-regular;
        }
        @media( max-width: 800px) {
            flex-direction: column;
            p {
                text-align: center;
                margin-bottom: 12px;
            }
        }
    }
}