.container-footer {
    width: calc( 100% - 48px );
    height: auto;
    min-height: 75px;
    margin-top: 60px;
    padding: 0 24px;
    background-color: $grey-900;
    @extend %flex-center-column;
    p {
        color: $grey-100;
        @extend %regular-regular;
    }
    span {
        color: $grey-100;
        @extend %regular-regular;
        a {
            color: $blue-300;
            text-decoration: underline;
            transition: all .1s ease-in-out;
            @extend %regular-regular;
            &:hover {
                color: $blue-400;
            }
        }
    }
}