@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;600;700&family=Manrope:wght@300;400;500&display=swap');
@import "./config/extend";
@import "./config/variables";
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    &::-webkit-scrollbar {
        width: 8px;
    }
    &::-webkit-scrollbar-track {
        background-color: rgba(#303030, 1);
        backdrop-filter: blur(4px);
    }
    &::-webkit-scrollbar-thumb {
        background-color: #7c9bea;
        border-radius: 20px;
    }
}

.content-whatsapp-desktop {
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 36px;
    left: 36px;
    border-radius: 25px;
    background-color: $grey-100;
    cursor: pointer;
    transition: all .1s ease-in-out;
    @extend %flex-center;
    &:hover {
        transform: scale(1.1);
    }
    @media ( max-width: 800px) {
        display: none;
    }
}

// INDEX
@import "./pages/index";
@import "./../components/PaginaInicio/Header/header";
@import "./../components/PaginaInicio/Servicios/servicios";
// CONTACTAME
@import "./pages/contactame";
// JURISTA | ABOUT ME
@import "./pages/jurista";
// SERVICIOS JURIDICOS
@import "./pages/servicios-juridicos";
// 
// COMPONENTS
@import "./../components/Navbar/navbar";
@import "./../components/MenuLateral/menulateral";