$grey-100: #F7F7F7;
$grey-200: #E6E7E8;
$grey-300: #D6D6D8;
$grey-400: #C6C6C9;
$grey-500: #BDBEC1;
$grey-600: #A5A6AA;
$grey-700: #74757B;
$grey-800: #45464A;
$grey-900: #171719;
// Cafe
$cafe-100: #F6F3EE;
$cafe-200: #E4DACB;
$cafe-300: #D1C2A8;
$cafe-400: #BFA985;
$cafe-500: #B69D74;
$cafe-600: #A98C5C;
$cafe-700: #7A6440;
$cafe-800: #493C26;
$cafe-900: #18140D;
// Azul
$blue-100: #D5E7FF;
$blue-200: #81B7FF;
$blue-300: #2C86FF;
$blue-400: #005CD7;
$blue-500: #004AAD;
$blue-600: #004197;
$blue-700: #002E6C;
$blue-800: #001C41;
$blue-900: #000916;
// Fonst
$spartan: 'League Spartan', sans-serif;
$manrope: 'Manrope', sans-serif;